:root{
    --txt-color: white;
    --txt-color-2: rgba(255, 255, 255, 0.514);
    --color-bg:#212529;
    --bg: #000000;
    --bg-2: #1a1a1a;
    --bg-3: #0d0d0d;
    --bg-4:#0000007c;
    --red-color: #971a1a9a;
    --light-mode: #FF5722;
}